#contentPanel
{
	position: absolute;
	float: left;
	left: 30em;
	width: 60em;
	height: 40em;
	overflow: auto;
	border:2px solid;
}

.align-right { float:right; margin: 0 0 15px 15px; }
.align-left { float:left; margin: 0 15px 15px 0; }

.bookImage
{
	width: 20em;
	height: 30em;
}

.categoryTitle
{
	font-size: 3em;
	font-family:"Comic Sans MS", cursive, sans-serif;
	border: 2px solid;
}

li
{
	list-style: none;
}

ul
{
	list-style: none;
}